html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.full-height {
  height: 100%;
}

body, p, small {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
  color: #323d47;
  font-weight: 300;
  font-family: 'Barlow', sans-serif;
}

nav {
  font-weight: 600;
}

nav.topbar {
  box-shadow: 0 0 20px 0 rgba(0,0,0,.14),0 3px 4px 0 rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2)!important;
}

main {
  width: 100%;
  padding: 0;
  /*background-color: blue;*/
}

.subnav {
  height: 80px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}

aside {
  font-size: 1.5em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

aside a {
  color: #99abb4;
}
aside a:hover {
  color: #ff4081;
}

header {
  clear: both;
}

/**************************** BRAND ****************************/

.bg-blue-5, .bg-blue-5 h1, .bg-blue-5 h2, .bg-blue-5 h3 {
  background-color: #448aff;
  color: white;
}
.bg-blue-4 {
  background-color: #47c7ff;
}
.bg-white {
  background-color: white;
}
.bg-pink {
  background-color: #ff4081;
}
.pink {
  color: #ff4081;
}
