
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">

    <title>Nelson &emdash; Dashboard</title>

    <link href="/css/material.min.css?{{ now | md5 }}" rel="stylesheet">
    <link href="/css/nelson.css?{{ now | md5 }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow:300,600|Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-blue-5 topbar">
      <a class="navbar-brand" href="/">
        <img src="/img/nelson-without-background.svg?sanitize=true" width="30" height="30" class="d-inline-block align-top" alt="" />
        &nbsp;
        Nelson
      </a>
    </nav>
  </header>

  <div class="d-flex bd-highlight full-height">
    <aside class="d-flex flex-column bd-highlight bg-dark">
      <div class="p-2 mt-2 mb-2 bd-highlight">
        <a href="#"><i class="fas fa-home"></i></a>
      </div>
      <div class="p-2 mb-2 bd-highlight">
        <a href="#"><i class="fas fa-binoculars"></i></a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="#"><i class="fas fa-history"></i></a>
      </div>
      <div class="p-2 bd-highlight">
        <a href="#"><i class="fas fa-map-marked-alt"></i></a>
      </div>
    </aside>
    <main class="d-flex flex-column bd-highlight">
      <nav class="d-flex subnav flex-row navbar-light bg-white">
        <div class="container">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">tesxxxt</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">Flex item</div>
        <div class="p-2 flex-fill bd-highlight">Flex item</div>
        <div class="p-2 flex-fill bd-highlight">Flex item</div>
      </div>
    </main>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="/js/material.min.js"></script>

  </body>
</html>
